html,  div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, img, small, strong, ol, ul, li, form, label,
table, caption, tr, td, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	color: #252525;
}
body {
	margin: 0;
	text-align: center;
	padding: 0;
	border: 0;
	
	line-height: 1;
    font-family: 'Titillium Web', sans-serif;
    font-weight:400;
    color: #252525;
    }
ol, ul {
	list-style: none;
}
a { text-decoration:none; }
a:focus { outline:0;  }
a:hover {  text-decoration:none; }

input { border:0;   font-family: 'Titillium Web', sans-serif; color:#fff;  }
input:focus { border:0; outline:0; }
input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus {  color: #eaeaea;border-color:#cccccc;box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3),  1px 1px 2px rgba(0, 0, 0, 0.3) inset; }
input:focus:valid:focus, textarea:focus:valid:focus, select:focus:valid:focus {  color: #dedede;border-color:#cccccc;box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3),  1px 1px 2px rgba(0, 0, 0, 0.3) inset; }
::-webkit-input-placeholder {
   color: #1b2561;
}

:-moz-placeholder { /* Firefox 18- */
   color: #1b2561; 
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #1b2561;  
}

:-ms-input-placeholder {  
   color: #1b2561;  
}
.phone_ring
{
    position: fixed;
  z-index: 110;
  bottom: 2%;
  width: 7%;
  right: 10%;
  cursor: pointer;
}
.win_t {
    color: #008dd2;
    font-weight: 600;
    text-align: center;
    font-size: 25px;
}
#submit_call {
    background-color: #008dd2;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    padding: 0px 20px;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
}
.call_t {
    border-radius: 5px;
  border: 1px solid #D3D3D3;
  margin: 10px 0;
  padding-left: 20px;
  width: 90%;
  height: 40px;
  background: #f4f4f4;
      color: #252525;
}
.popup {
  background-color: #fff;
  border: 3px solid #fff;
  display: inline-block;
  left: 50%;
  opacity: 0;
  padding: 15px;
  width: 300px;
  position: fixed;
  text-align: justify;
  top: 40%;
  visibility: hidden;
  z-index: 999999;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: opacity .5s, top .5s;
  -moz-transition: opacity .5s, top .5s;
  -ms-transition: opacity .5s, top .5s;
  -o-transition: opacity .5s, top .5s;
  transition: opacity .5s, top .5s;
  border-radius: 11px;
}
.popup .close_window {
  width: 6px;
  height: 17px;
  position: absolute;
  padding: 1px 9px 4px 9px;
  top: -15px;
  right: -15px;
  cursor: pointer;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}

.c_1
{
	background: url(../img/гора.jpg) no-repeat;
	background-size: 100% auto;
}
.logo_1 {
    width: 25%;
    text-align: center;
    margin: 55px;
}
.c_1_1 
{
    text-align: center;
}
.c_1_2 {
    text-align: center;
    text-transform: uppercase;
    color: #1b2561;
    font-weight: 800;
    font-size: 25px;
    margin: 200px 0 0 0;
}
.c_1_3 {
    text-align: center;
	margin: 10px;
}
.c_2_1 {
    text-align: center;
}
.c_2_1_i {
    background: #81ccec;
    border-radius: 20px;
    padding:5px;
    display: inline-block;
}
.c_2_1_i img {
    width: 20px;
    margin: 0 10px;
    vertical-align: middle;
}
.c_2_1_i input {
    color: #1b2561;
    padding: 5px;
    background: none;
    display: inline-block;
}
.c_2_i {
    display: inline-block;
    width: 180px;
    vertical-align: middle;
    cursor: pointer;
}
.c_2_2 {
    text-align: center;
    margin: 10px;
}
.c_3 {
    background: #98d4a8;
    text-align: center;
    padding: 15px;
}
.c_4_1
{
	color: #1b2561;
}
.c_4_1, .c_5_1, .c_6_1, .c_7_1
{
    color: #1b2561;
    text-transform: uppercase;
    padding: 45px 0 15px 0;
    font-size: 25px;
    font-weight: 800;
}
.c_4 {
    background-color: #abdcf2;
}
.c_4_2 {
    padding: 20px;
    width: 900px;
    margin: 0 auto;
    line-height: 21px;
}
.c_5 {
    padding: 20px;
}
.c_5_2_u
{
    display: inline-block;
    vertical-align: top;
}
.c_5_2_i {
    width: 200px;
    padding: 20px;
}
.c_5_2_t {
    color: #1b2561;
    font-weight: 800;
    font-size: 15px;
}
.c_5_2_c {
    font-size: 13px;
    margin: 5px;
}
.c_6
{
	background: #98d4a8;
	padding: 20px;
}
.c_6_2_1 {
    display: inline-block;
    padding: 15px;
}
.c_6_2_n
{
	display: block;
	color: #1b2561;
	font-weight: 800;
    font-size: 50px;
}
.c_6_2_c {
    padding: 10px;
    font-size: 15px;
}
.c_7 {
    padding: 20px;
}
.c_7_2_i {
    width: 150px;
    padding: 20px 20px 0 20px;
}
.c_8
{
	background: url(../img/1-1.png) no-repeat;
	background-size: 100% auto;
	padding: 20px;
}
.c_8_2 {
    line-height: 20px;
    padding: 10px 0;
}
.c_8_3_i {
    width: 60px;
    margin: 10px;
}
.c_9_1 {
    width: 100px;
    vertical-align: middle;
    padding: 20px 0;
    display: inline-block;
}
.c_9_2 {
    padding: 20px 0;
    vertical-align: middle;
    display: inline-block;
}

.spons {
    max-width: 140px;
    max-height: 125px;
    vertical-align: middle;
    margin: 10px;
}


.spons2 {
    max-width: 155px;
    max-height: 125px;
    vertical-align: middle;
    margin: 10px;
}